[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/VimIRC.vim"]
	path = bundle/VimIRC.vim
	url = https://github.com/vim-scripts/VimIRC.vim.git
[submodule "bundle/HTML-AutoCloseTag"]
	path = bundle/HTML-AutoCloseTag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/Indent-Guides"]
	path = bundle/Indent-Guides
	url = https://github.com/vim-scripts/Indent-Guides.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/LaTeX-Suite-aka-Vim-LaTeX"]
	path = bundle/LaTeX-Suite-aka-Vim-LaTeX
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/vimim"]
	path = bundle/vimim
	url = https://github.com/vim-scripts/VimIM.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/vim-scripts/xmledit.git
[submodule "bundle/vim-systemd"]
	path = bundle/vim-systemd
	url = git://fedorapeople.org/home/fedora/wwoods/public_git/vim-scripts.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/vim-vala"]
	path = bundle/vim-vala
	url = https://github.com/taurenchieftain/vim-vala.git
[submodule "bundle/MarkdownView"]
	path = bundle/MarkdownView
	url = https://github.com/jiazhoulvke/MarkdownView.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = https://github.com/rosenfeld/conque-term.git
[submodule "bundle/a_vim"]
	path = bundle/a_vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git@github.com:vim-scripts/ZoomWin.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
